body {
  font-family: 'EB Garamond', serif;
  display: inline-block;
  min-height: 100vh;
  width: 100%;
  min-width: 250px;
  margin:0;
  padding:0;
  position: relative;
  font-kerning: none;
}
::selection {
  background: #BCBCBC; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #BCBCBC; /* Gecko Browsers */
}

/********************** Wide Page Navigation **********************************/
#widepage {
  width: 100%;
  display: inline-block;
}
nav a {
  display: inline-block;
  text-decoration: none;
  color: black;
  transition: opacity .2s ease-out;
}
a:hover {
  opacity: .4;
}
a.active {
  opacity: .4;
  color: black;
}
#title-div {
  display: inline-block;
  vertical-align: top;
}
#widepage #links-container {
  transition: opacity .2s ease-out;
  opacity: 0;
  display: inline-block;
  vertical-align: top;
  position: relative;
  text-align: right;
  width: 60%;
  float: right;
}
#widepage a {
  color: black;
}
#title {
  font-weight: 600;
  font-size: 42px;
}
#widepage #title {
  display: inline-block;
  float: left;
  padding-left: 30px;
  margin-top: 8px;
}
#widepage .nav-link {
  line-height: 60px;
  font-size: 27px;
  height: 100%;
  padding: 10px 4% 0 4%;
}
#contact-info {
  padding-left: 12.5px;
  vertical-align: top;
  display: inline-block;
}
#contact-label {
  display: none;
}
.icon {
  opacity: .5;
  display: inline-block;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
#widepage .icon {
  height: 24px;
  width: 24px;
  margin-top: 17px;
  margin-left: 3px;
  padding-top: 10px;
}
#widepage #email {
  opacity: .5;
  margin-left: 1.5px;
}
#widepage #email:hover, nav img.icon:hover, nav i.icon:hover {
  opacity: .4;
  filter: grayscale(0%);
}
#widepage #twitter {
  height: 19px;
  width: 19px;
  padding-bottom: 3.3px;
}
#widepage #linkedin {
  margin-right: 4px;
}

/********************** Smartphone Closed Navigation **********************************/
#buffer-box {
  height: 50px;
  width: 10px;
  display: none;
}
#smartphone-closed-resize {
  width: 0;
  position: absolute;
  top: 0;
  z-index: 1;
  background-color: white;
}
#smartphone-closed {
  width: 0;
  height: 300px;
  transition: width .2s ease-out;
  position: absolute;
  top: 0;
  z-index: 1;
  background-color: white;
}
#smartphone-closed #title, #smartphone-closed-resize #title{
  display: inline-block;
  color: black;
}
#hamburger-icon {
  color: black;
  display: none;
  cursor: pointer;
  position: relative;
  margin: 0 10px 0 10px;
  bottom: -5px;
}
#smartphone-closed #title-div, #smartphone-closed-resize #title-div {
  width: 300px;
  padding-left: 9px;
}
#smartphone-closed-resize #links-container {
  opacity: 0;
  pointer-events: none;
}
#smartphone-closed-resize #contact-info {
  opacity: 0;
  pointer-events: none;
}
#smartphone-closed #links-container {
  transition: opacity .2s ease-out;
  opacity: 0;
  pointer-events: none;
}
#smartphone-closed #contact-info {
  transition: opacity .2s ease-out;
  opacity: 0;
  pointer-events: none;
}

/********************** Smartphone Open Navigation **********************************/
#smartphone {
  transition: width .2s ease-out;
  width: 300px;
  height: 300px;
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: white;
}
#smartphone #title-div {
  width: 300px;
  padding-left: 9px;
}
#close-icon {
  color: black;
  display: none;
  cursor: pointer;
  position: relative;
  margin: 0 10px 0 10px;
  bottom: -5px;
}
.material-icons.md-36 { 
  font-size: 36px; 
}
#smartphone #title {
  display: inline-block;
}
#smartphone #links-container {
  transition: opacity .2s ease-out;
  opacity: 1;
  pointer-events: auto;
  display: block;
  width: 100%;
}
#smartphone .nav-link {
  line-height: 60px;
  font-size: 25px;
  width: 97%;
  padding-left: 2%;
}
#smartphone .nav-link:before {
  content: "> ";
}
#smartphone #contact-info {
  transition: opacity .2s ease-out;
  opacity: 1;
  pointer-events: auto;
  width: 95%;
  display: block;
  padding: 2% 0 0 2%;
  display: flex;
}
#smartphone #contact-label {
  opacity: .3;
  display: inline-block;
  color: black;
  font-size: 22px;
  margin: 0 0 20px 0;
}
#smartphone .icon {
  height: 100%;
}
#smartphone #twitter, #smartphone-closed-resize #twitter, #smartphone-closed #twitter {
  width: 28px;
  height: 28px;
  margin: 3px;
}
#smartphone #linkedin, #smartphone-closed-resize #linkedin, #smartphone-closed #linkedin {
  width: 34px;
  height: 34px;
}
#smartphone #email, #smartphone-closed-resize #email, #smartphone-closed #email {
  color: black;
  opacity: .9;
  margin-top: -1px;
}
/**********************Home Page Layout******************************/
#background-slideshow {
  display: inline-block;
  margin:0;
  padding:0;
  height: 100vh;
  min-height: 550px;
  position: relative;
  width: 100%;
  background-image: url(./intro_images/me.jpg);
  background-size: cover;
  background-position: 0% 25%;
  transition: background-image 0.5s ease-out;  
  display: inline-block;
  color: white;
  opacity: 0;
  transition: opacity .5s ease-out;
}
#loader {
  position: absolute;
  top: 45%;
  left: 45%;
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid #BEBEBE; /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/********************* Footer ***************************************/
footer {
  position: absolute;
  bottom: 0;
  background-color: none;
  width: 100%;
  opacity: .3;
  text-align: right;
  padding-bottom: 10px;
}
.copyright {
  padding-right: 2%;
}

/********************* Resume ***************************************/
.resume-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 0px 0px 3.5em 0px;
}
.work-container {
  position: relative;
  display: block;
  flex-wrap: wrap;
  width: 68%;
  margin-left: 20px;
  margin-top: 30px;
  border-right: 2px solid #BEBEBE;
}
.language-container {
  display: inline-block;
  width: 25%;
  margin-left: 1%;
  margin-top: .88%;
  padding-left: 1%;
}
.languages-spoken {
  margin: 2% 0;
  width: 95%;
  max-height: initial;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  padding: 0 3% 0 1.5%;
}
.title-language {
  padding-right: 2%;
  margin: 3% 0;
  display: flex;
  justify-content: space-between;
}
.rating {
  margin-left: 5px; 
  font-size: 15px;
  font-style: italic;
}
/* Style the category button */
.button-category {
  transition: width 0.2s;
  font-family: 'EB Garamond', serif;
  width: 200px;
  display: block;
  cursor: pointer;
  background-color: white;
  border: none;
  font-size: 25px;
  text-align: left;
  margin-top: 10px;
  padding: 10px;
}
button:focus {
  outline: 0;
}
.button-category:hover  {
  opacity: .75;
}
.active-resume {
  width: 97%;
}
.button-category:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  padding-top: 7.5px;
  float: right;
}
.active-resume:after, .active-resume-language:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}
/* Style the content */
.resume-block {
  max-height: initial;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  width: 100%;
  font-size: 16px;
}
.resume-entry {
  width: 97%;
  padding: 1%;
  margin-top: 1%; 
  border-radius: 40px;  
}
.resume-description {
  display: inline-block;
  width: 65%;
  margin-left: 1%;
  vertical-align: top;
}
.resume-description p {
  display: block;
  line-height: 1.1;
  width: 90%;
  margin: 0;
}
.resume-date {
  width: 17%;
  display: inline-block;
  float: right;
  text-align: right;
  vertical-align: top;
  font-size: 17px;
  margin-right: 3%;
}
.circle {
  border-radius: 100%;
  display: inline-block;
  width: 98px;
  height: 98px;
}

/********************** Multimedia Page **********************************/
#multimedia-body {
  z-index: 2;
  margin:0;
  width: 100%;
  min-height: 100vh;  /* look here */
  transition: background-color 0.5s, filter 0.5s;
}
.darken {
  background-color: #E3E3E3;
  filter: brightness(50%);
  cursor: pointer;
}
#next {
  visibility: hidden;
  top: 50%;
  right: 5%;
}
#previous {
  visibility: hidden;
  top: 50%;
  left: 5%;
}
.multimedia-section {
  margin-left: 25px;
  width: 95%;
}
.projects {
  display: flex;
}
.project {
  width: 100%;
  display: inline-block;
  cursor: pointer;
  transition: opacity 0.2s;
  position: relative;
}
.project:hover {
  opacity: .5;
}
.project-image {
  height: auto;
  width: 92.5%;
  height: auto;
  margin: 0 5px;
  cursor: pointer;
  transition: opacity 0.2s;
}
.project-caption {
  width: 90%;
  font-size: 15px;
  margin-left: 1%;
}
.project-icon {
  opacity: .5;
  position: absolute;
  top: 35%;
  left: 42.5%;
  font-size: 60px;
  color: white;
}
.video-title {
}
.video-publication {
  margin-top: 5px;
}
#multimedia-page-cover {
  z-index: 1;
  width: 100%;
  min-height: 100vh;  /* look here */
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}
.heading-container {
  margin: 17px 0 10px 5px;
  border-bottom: 2px #BEBEBE solid;
  width: 97.5%;
}
.multimedia-section-heading {
  margin-bottom: 5px;
  font-weight: normal;
}
#popup {
  position: fixed;
  z-index: 2;
}
#popup-caption {
  z-index: 3;
  background-color: red;
  width: 100vh;
}
#popup-image {
  height: 425px;
  width: auto;
  position: fixed;
  box-shadow: 3px 3px 5px 3px #494848;
  cursor: default;
}
#video-wrapper {
  z-index: 2;
  width: 70%;
  height: auto;
  position: fixed;
  box-shadow: 3px 3px 5px 3px #494848;
}
#video-container {
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}
#popup-video {
  width: auto;
  allow: accelerometer autoplay clipboard-write encrypted-media gyroscope picture-in-picture web-share;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
#multimedia-footer {
  margin-top: 50px;
  position: relative;
}
.slideshow {
  font-size: 35px;
  z-index: 3;
  cursor: pointer;
  position: fixed;
  background: none;
  border: none;
  color: white;
  transition: opacity .2s ease-out;
}
.slideshow:focus {
  outline:0;
}
.slideshow:hover {
  opacity: .5;
}
.loading-box {
  display: inline-block;
  min-height: 425px;
  min-width: 187.5px;
  margin: 0 5px;
  background-color: white;
  border: 2px solid #BEBEBE;
}
/**********************Writing Page******************************/
.writing-container {
  width: 97.5%;
  padding-top: 15px;
  padding-bottom: 40px;
}
#container-of-articles {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding-left: 30px;
}
.article-section {
  display: flex;
  width: 100%;
  margin: 5px 0 10px 0;
  flex-wrap: wrap;
}
.section-heading {
  display: inline-block;
  margin: 5px 0 5px 0;
  font-weight: normal;
  border-bottom: 2px #BEBEBE solid;
  padding-bottom: 5px;
  width: 95%;
}
#first-article {
  width: 45%;
}
#other-articles {
  width: 52%;
  display: flex;
  flex-wrap: wrap;
  margin: -20px 0 0 0;
}
.first-article-image {
  width: 100%;
}
.loading-box {
  display: inline-block;
  min-height: 125px;
  min-width: 187.5px;
  margin: 0 5px;
  background-color: white;
  border: 2px solid #BEBEBE;
}
.second-article-image {
  width: 100%;
  height: auto;
  display: inline-block;
}
.other-featured-articles {
  display: inline-block;
  width: 44%;
  margin: 20px 0 0 20px;
}
.other-selected-article {
  display: inline-block;
  width: 17%;
  margin: 20px 0 0 20px;
}
.other-selected-article > .article-content {
  font-size: 13px;
}
#first-article  > .article-content {
  width: 95%;
}
.article {
  text-decoration: none;
  color: black;
}
.article:hover {
  opacity: .4;
  transition: opacity 0.2s ease-out;
}
.article-content {
  width: 100%;
  margin: 5px 0 0 0;
  font-size: 20px;
}
.other-featured-articles > .article-content {
  font-size: 16px;
}
.article-title {
  width: 100%;
  display: block;
}
.pub-name {
  width: 100%;
  display: block;
  margin-top: 5px;
  border-top: 1px #BCBCBC;
}
/**********************When the Screen Gets Small******************************/
@media only screen and (max-width: 725px) {

  /******* Home Page ********/
  #loader {
    top: 40%;
    left: 40%;
  }
  footer {
    text-align: center;
  }
  #background-slideshow {
    background-position: 45% 0%;
  }

  /********** Mutlimedia ********/
  #popup-image {
    width: 90%;
    height: auto;
  }
  .projects {
    display: block;
  }
  .multimedia-section {
    margin-left: 15px;
  }
  #multimedia-page-cover {
  min-height: 100%;  /* look here */
  }
  .slideshow {
    background-color: black;
    opacity: .7;
  }
  .heading-container {
    margin-bottom: 10px;
    padding-bottom: 2px;
    border-bottom: 2px #BEBEBE solid;
    width: 92.5%;
  }
  .project-image {
    width: 92.5%;
    height: auto;
    margin: 0 5px;
    cursor: pointer;
    transition: opacity 0.2s;
  }
  .project {
    margin-bottom: 25px;
  }
  #video-wrapper {
    z-index: 2;
    width: 90%;
    height: auto;
    position: fixed;
    box-shadow: 3px 3px 5px 3px #494848;
  }
  /********* Writing Page ***********/
  #container-of-articles {
    padding-left: 20px;
  }
  .article-section {
    display: inline-block;
  }
  .first-article-image {
    width: 93%;
  }
  .section-heading {
    width: 93%;
  }
  #other-articles {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 0 -20px;
  }
  .other-selected-article > img {
    display: none;
  }
  .other-selected-article {
    display: block;
    width: 95%;
    margin: 20px 0 0 20px;
  }
}
/******* Nav ********/
@media only screen and (max-width: 780px) {
  #buffer-box {
    display: block;
  }
}
/******** Resume *********/
@media only screen and (max-width: 850px) {
  .top {
    padding-top: 15px;
  }
  .resume-container {
    padding-left: 0;
  }
  .work-container {
    display: block;
    flex-wrap: wrap;
    width: 90%;
    margin: 2% 10px 0 11px;
    border-right: none;
  }
  .language-container {
    display: block;
    width: 90%;
    margin: 10px 5px;
    padding: 1%;
  }
  .languages-spoken {
    margin: 1% 0;
  }
  .active-resume {
    border-bottom: 2px solid #BEBEBE;
  }
  .resume-entry {
    width: 100%;
    margin-top: 1%; 
    border-bottom: none;
  }
  .resume-description {
    min-width: 75%;
    margin-left: 2%;
    font-size: 15px;
  }
  .resume-description p {
    width: 100%;
  }
  .resume-date {
    float: none;
    width: 100%;
    margin: 2% 0 4% 0;
    font-size: 13px;
    text-align: left;
    margin-top: 20px;
  }
  .circle {
    width: 60px;
    height: 60px;
  }
}
@media only screen and (max-width: 1097px) {
  .resume-description {
    width: 50%;
  }
}